.outer-div {
  max-width: 300px;
  margin: auto;
}
main {
  border: black;
}

.Header {
  background-color: red;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-weight: bold;
}
.inside-main-content {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
#stars-conteiner {
  padding: 15px;
  display: flex;
}
